/*====================My code============================*/


a {
	text-decoration: none;
}

.navbar{
	background: #013243;
}

.min-color{
	 background:  
}
.text-color{
	 color: white;
}

.navbar .navbar-collapse{
	margin-left: 600px;
}

.main{
	margin-top: 100px
}

.head{
	height: 40px; 
	font-size: 20px;
}

#navbarResponsive{
	margin-left: 600px;
}
/*style=""*/














